<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/lose/yifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,834},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/lose/yifu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,368},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/play/Bringalong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,722},{107,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,38}</string>
			</dict>
			<key>image/play/Bringalong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,307},{106,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,38}</string>
			</dict>
			<key>image/play/Bringalong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,718},{107,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,38}</string>
			</dict>
			<key>image/play/Bringalong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,722},{106,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,39}</string>
			</dict>
			<key>image/play/Final.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,343},{184,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,82}</string>
			</dict>
			<key>image/play/Groupstage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,0},{184,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,84}</string>
			</dict>
			<key>image/play/Groupstage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,184},{184,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,84}</string>
			</dict>
			<key>image/play/Groupstage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,534},{184,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,84}</string>
			</dict>
			<key>image/play/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,414},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/play/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,355},{406,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,196}</string>
			</dict>
			<key>image/play/pokerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,207},{147,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,180}</string>
			</dict>
			<key>image/play/Quarterfinal.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,527},{184,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,82}</string>
			</dict>
			<key>image/play/SemiFinals.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,711},{184,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,82}</string>
			</dict>
			<key>image/play/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,543},{210,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,112}</string>
			</dict>
			<key>image/play/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,834},{161,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,207}</string>
			</dict>
			<key>image/play/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,460},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/play/zq.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,492},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>image/play/zq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,368},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>image/play/zqbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{22,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,293}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,506},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/set/Effects.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,207},{133,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,35}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,995},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,995},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kgbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,543},{121,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,37}</string>
			</dict>
			<key>image/set/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,273},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
			<key>image/set/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{466,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,207}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,761},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/start/Options.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,761},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/start/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{466,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,207}</string>
			</dict>
			<key>image/start/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{168,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,242}</string>
			</dict>
			<key>image/win/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,207},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>image/win/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,995},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>image/win/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,664},{69,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,44}</string>
			</dict>
			<key>image/win/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,761},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/win/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,207},{136,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,50}</string>
			</dict>
			<key>image/win/qiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,413},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>image/win/stars.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{414,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,148}</string>
			</dict>
			<key>image/win/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{466,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,207}</string>
			</dict>
			<key>image/win/xiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,207},{115,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,107}</string>
			</dict>
			<key>image/win/yifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,355},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/win/yifu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,534},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/win/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,207},{66,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>