<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,259},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,387},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,513},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,861},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihuaa.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,687},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihuaj.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,515},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihuak.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,861},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihuaq.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,643},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/start/xiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1},{275,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,256}</string>
			</dict>
			<key>image/win/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{681,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,404}</string>
			</dict>
			<key>image/help/previous.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,259},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/help/gotit.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,289},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/play/mengban.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,515},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,407},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,515},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/poker/meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,581},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>image/play/hg.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,481},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>image/play/pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{142,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,37}</string>
			</dict>
			<key>image/play/pass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,145},{142,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,37}</string>
			</dict>
			<key>image/play/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,451},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist4.png</string>
			<key>realTextureFileName</key>
			<string>Plist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>