<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/flag/Croatia.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,816},{74,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,21}</string>
			</dict>
			<key>image/flag/Croatiagq.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,914},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Czech.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,822},{61,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,21}</string>
			</dict>
			<key>image/flag/Czechgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,914},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Denmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,684},{91,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,21}</string>
			</dict>
			<key>image/flag/Denmarkgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,914},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/England.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,652},{81,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,25}</string>
			</dict>
			<key>image/flag/Englandgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,432},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/France.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,74},{68,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,20}</string>
			</dict>
			<key>image/flag/Francegq.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,530},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Germany.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,470},{91,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,24}</string>
			</dict>
			<key>image/flag/Germanygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,628},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Greece.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{71,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,20}</string>
			</dict>
			<key>image/flag/Greecegq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Lreland.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,402},{72,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,21}</string>
			</dict>
			<key>image/flag/Lrelandgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Ltaly.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,822},{47,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,25}</string>
			</dict>
			<key>image/flag/Ltalygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Netherlands.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,345},{123,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,21}</string>
			</dict>
			<key>image/flag/Netherlandsgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Poland.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,476},{70,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,21}</string>
			</dict>
			<key>image/flag/Poland-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Portugal.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,563},{87,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,25}</string>
			</dict>
			<key>image/flag/Portugalgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,432},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Russia.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,607},{65,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,21}</string>
			</dict>
			<key>image/flag/Russiagq.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,530},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Spain.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,548},{57,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,25}</string>
			</dict>
			<key>image/flag/Spaingq.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,432},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Sweden.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,777},{78,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,21}</string>
			</dict>
			<key>image/flag/Swedengq.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,530},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/flag/Ukraine.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,735},{79,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,21}</string>
			</dict>
			<key>image/flag/Ukrainegq.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,432},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/help/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,808},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/help/compare.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,210},{386,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{386,220}</string>
			</dict>
			<key>image/help/daxiaotext.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,345},{337,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,38}</string>
			</dict>
			<key>image/help/helpTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1},{466,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,207}</string>
			</dict>
			<key>image/help/heng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,144},{76,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,8}</string>
			</dict>
			<key>image/help/lan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,914},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,56}</string>
			</dict>
			<key>image/help/lan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,822},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>image/help/lan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,822},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>image/help/lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,967},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,56}</string>
			</dict>
			<key>image/help/lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,822},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>image/help/lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,822},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>image/help/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,892},{113,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,112}</string>
			</dict>
			<key>image/help/same.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,690},{339,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,222}</string>
			</dict>
			<key>image/help/sametext.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{342,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,38}</string>
			</dict>
			<key>image/help/tonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{492,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{492,251}</string>
			</dict>
			<key>image/help/tonghuatext.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,402},{286,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,38}</string>
			</dict>
			<key>image/help/xiongleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,254},{275,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,256}</string>
			</dict>
			<key>image/help/xiongright.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,531},{275,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,256}</string>
			</dict>
			<key>image/lose/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,822},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>image/lose/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,808},{63,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,45}</string>
			</dict>
			<key>image/lose/lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{411,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,148}</string>
			</dict>
			<key>image/lose/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,210},{190,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,73}</string>
			</dict>
			<key>image/lose/one.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,222},{16,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,39}</string>
			</dict>
			<key>image/lose/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,684},{136,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,50}</string>
			</dict>
			<key>image/lose/qiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,351},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>image/lose/xiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,892},{115,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,107}</string>
			</dict>
			<key>image/lose/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,254},{66,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>