<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,159}</string>
            </dict>
            <key>bg_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,159}</string>
            </dict>
            <key>bg_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,159}</string>
            </dict>
            <key>card0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,728},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,728},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,728},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,728},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,728},{119,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,159}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>card3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e93e5275c2fe8c94a48a5a736f59ac53$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
