<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tortoise01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{70,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,74},{72,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{72,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{72,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,216},{72,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{72,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{72,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{72,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{72,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise09.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,216},{72,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{72,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{72,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,286},{72,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,352},{72,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{72,60}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,286},{72,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise15.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,146},{72,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise16.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,354},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tortoise18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{62,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoise.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626b56e839697bdbeaed086bd319f802$</string>
            <key>textureFileName</key>
            <string>tortoise.png</string>
        </dict>
    </dict>
</plist>
